<div class="container">
  <div class="user-details">
    <h3> Featured Projects</h3>
  </div>
  {% for post in site.posts %}
  {% assign value = forloop.index | modulo:2 %}
  <div class="row user-projects">
    {% if value == 0 %}
    <div class="six columns images">
    {% else %}
    <div class="six columns">
    {%endif%}
      <img src="{{ post.image }}" alt="mountains" />
    </div>
    <div class="six columns">
      <h5>{{ post.title }}</h5>
      {% for skill in post.skills %}
      <li>{{ skill }}</li>
      {% endfor %}
      <p>{{ post.description }}</p>
      <a href="{{ post.vimeo }}" class="venobox project-link" data-vbtype="vimeo">Check it out</a>
    </div>
  </div>
  {% endfor %}
</div>